@import "../../styles/variables";

.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vmax;
  background-color: #d8ffab;
  box-shadow: 0 0 4px;
}

.logo {
  width: 5vmax;
  height: 5vmax;
  margin-left: 1vmax;
  border-radius: 14px;
}

.links {
  display: flex;
  margin-right: 2vmax;
  list-style: none;
  li {
    margin-right: 2vmax;
  }
  a {
    color: black;
  }
  a:hover {
    text-shadow: 0 0 2px orange;
  }
}
