@import "../../styles/variables";

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  margin-bottom: 0 auto;
  background-color: $headerBgColor;
  box-shadow: 0 0 4px;
  z-index: 1;
}

.logo {
  width: 7vh;
  height: 7vh;
  margin-left: 1vmax;
  box-shadow: 1px 1px 4px rgb(0, 255, 136), -1px 1px 4px blue,
    1px -1px 4px rgb(255, 72, 0);
  border-radius: 50%;
  transition: all 0.2s linear;
}

.logo:hover {
  transform: rotate(1turn);
}

.links {
  display: flex;
  margin-right: 2vmax;
  list-style: none;
  li {
    margin-right: 2vmax;
  }
  a {
    color: black;
  }
  a:hover {
    text-shadow: 0 0 2px orange;
  }
  a:active {
    text-shadow: 0 0 10px rgb(150, 229, 255);
  }
}

@media (max-width: 300px) {
  .logo {
    margin-left: 0.2vmax;
  }
}
