.projectsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding: 1vmax;
    text-align: center;
    text-shadow: 0 0 1px orange;
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1vmax;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  box-shadow: 0 0 10px #e6ffab;
  h2 {
    text-shadow: 0 0 1px orange;
  }
}
